<html lang="zh">
    <head>
        <meta charset="utf-8">
        <title>GCH's Blog</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body id="index" class="home">
        <header id="banner" class="body">
            <h1>GCH's Blog</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">主页</a></li>
                    <li><a href="{{ url_for('home') }}">项目</a></li>
                    <li><a href="{{ url_for('about') }}">关于</a></li>
                </ul>
            </nav>
        </header>
        
        <section id="content" class="body">
            {% block content %}
            {% endblock %}
        </section>
        
        <!-- 
        <section id="extras" class="body">
        </section>
        -->
        <footer id="contentinfo" class="body">
            <address id="about" class="vcard body">Proudly powered by <a href="http://flask.pocoo.org">Flask</a>, Writen in <a href="https://www.python.org">Python<a>, Posted by <a href="http://github.com/gchpro">JohnLoftY</a></address>
        </footer>
    </body>
</html>